body { 
	background-color: #bbc7e7;
}

.location {
	text-align: justify;
}

/**** Стили для фотографий ****/
.hlarge {	display: block;	margin: 5px auto;	border: 3px solid black;	}
.vlarge { 	display: block;	margin: 5px auto; 	border: 3px solid black; height: 800px;	}

.small {
	margin: 0 auto;
	text-align: center; 
}
.small img {
	height: 180px; 
	margin: 3px;
	border: 3px solid black; 
}




.viewpoint th, td {border: 1px solid black; padding: 0 10px 0 10px;}
.viewpoint {border: 1px solid black; border-collapse: collapse; margin: auto;}
