// navbar toggle width???
// navbar default font???



// Variables
$navbar-default-bg: transparent;
//$navbar-default-border: none;
$navbar-default-brand-color: #fff;
$navbar-default-brand-hover-color: #EEC856;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #EEC856;

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Custom SASS Modules
@import "modules/main";
