.hmenu {
	background: #505060;	
	font: bold 16px "Open Sans",sans-serif;
	text-decoration: none;
}
#myBrand a {
	font-weight: normal;
	color: #fff;	
}
#myNavbar a {
	color: #b0b0d0;	
}
#myNavbar a:hover {
	color: #fff;
}
#myNavbar a.active
{
	color: #fcc500;
}

.disabled {
	pointer-events: none;
	cursor: default;
}