/* New Main File*/

// Import google fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

// background image
body {
	min-height: 1800px;	
	background-image: url("../media/skyisle.jpg");
	background-repeat: no-repeat;	
	background-position: left top;
	background-attachment: fixed;
}

// Container main styling
.main {
	margin: 0 auto;

    // Page title 
    #title {
        font-size: 5em;
        color: #fff;
        line-height: 0.9em;
        text-align: center;
        margin: 100px 0 0 0;
    }

    // Page subtitle 
    #subtitle {
        font-size: 2em;
        color: #fff;
        line-height: 1.2em;
        text-align: center;
        margin: 30px 0 30px 0;
    }

    // Block element 
    .block {
        margin: 0 auto 5px auto;	
        padding: 0;
        height: 460px;
        width: 320px;
        opacity: 0.8; 
        float: left;
        position: relative;
    }

    h2 { 	
        text-align: center; 
        color: black;
    }

    p {	
        text-align: justify;	
        margin: 10px; 
        line-height: 1.4;
        color: black;
    }	

    .button {
        text-decoration: none;
        text-align: center;
        font-family: "Open Sans",sans-serif;
        font-weight: bold;
        color: black;
        padding: 5px 10px;
        border: 3px solid black;
        width: 100px;
        position: absolute;
        bottom: 10px;
        left: 100px; 	
    } 

    .button:hover {
        background-color: #000;
        color: white;
        text-decoration: none;
    }
}
// footer { background-color: #303040; }

/** Navbar **/

.navbar-default {
	font: bold 14px "Open Sans",sans-serif;
} 







